spring:
  datasource:
    url: jdbc:h2:mem:dev
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
        trace: false

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false

app:
  auth:
    username: _
    password: _
  mockdata:
    enabled: true

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    "[de.dermatrack]": DEBUG
    "[com.zaxxer.hikari]": DEBUG
    "[org.springframework.boot.actuate.health]": DEBUG
    "[org.hibernate.SQL]": WARN
